.head {
    background-color: rgb(147, 147, 179);
}

#head_content ul li {
    display: inline;
    margin: 15px;
}

#head_content ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#head_content ul li a:hover {
    color: red;
}

#landing_img {
    background-image: url(./images/index,jpg);
}

#landing_img img {
    width: 100%;
    height: 50%;
    margin-top: 0;
}

#content {
    top: 50%;
    right: 50%;
    justify-content: center;
    margin-top: 0;
}